footer{
    width: 100%;
    height: 800px;
    .footer-top{
        width: 100%;
        padding-top: 445px;
        background: $gray-light;
        min-height: 880px;
        .footer-top-center{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0 130px;
            max-width: 1170px;
            margin: 0 auto;
            position: relative;
            min-height: 440px;
            .footer-rocket{
                a{
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    bottom: -35px;
                    right: 0;
                    border-radius: 8px;
                    background-image: linear-gradient(to top, #f85454, #f58523, );
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        color: white;
                        font-size: 20px;
                    }
                }
            }
            p{
                font-family: $primary-font;
                font-size: 16px;
                color: $gray-font;
            }
            li{
                font-family: $primary-font;
                font-size: 16px;
                color: $gray-font;
                text-transform: capitalize;
            }
            strong{
                font-family: $secondary-font;
                font-weight: bold;
                font-size: 18px;
                line-height: 23px;
                color: white;
            }
            .footer-column{
                &-logo{
                    display: flex;
                    margin-bottom: 50px;
                    span{
                        color: white;
                        font-size: 22px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        line-height: 40px;
                        margin-left: 15px;
                    }
                }
                &-social{
                    margin-top: 45px;
                    a{
                        color: $gray-font;
                    }
                    .social-item:not(:last-child){
                        margin-right: 20px;
                    }
                    .social-item:hover{
                        transition: 0.2s;
                        color: $hover;
                    }
                }
                ul{
                    margin-top: 50px;
                    li:not(:last-child){
                        margin-bottom: 25px;
                    }
                    li:hover{
                        color: $hover;
                    }
                }
            }
        }
    }
    .footer-bottom{
        width: 100%;
        height: 150px;
        background-color: $dark-bg;
        .footer-center-bottom{
            width: 1170px;
            height: 150px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            p{
                font-family: $primary-font;
                font-size: 16px;
                color: $gray-font;
            }
            span{
                color: white;
            }
        }
    }
    @include maxWidth(1170px){
        .footer-top{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @include maxWidth(768px){
        .footer-top{
            .footer-top-center{
                grid-template-columns: 1fr;
                gap: 30px;
            }
        }
        .footer-bottom{
            .footer-center-bottom{
                width: 100%;
                padding-left: 10px;
            }
        }
    }
}
