header{
    width: 100%;
    height: 800px;
    .header-line{
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
    }
    .nav-wrap{
        max-width: 1170px;
        height: 120px;
        margin: 0 auto;
        .navbar{
            width: 100%;
            height: 120px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            &-logo{
                display: flex;
                align-items: center;
                .logo-blue{
                    display: none;
                }
                p{
                    font-family: 'Montserrat';
                    color: white;
                    font-size: 22px;
                    margin-left: 10px;
                    font-weight: 500;
                }
            }
            &-links{
                ul{
                    height: 120px;
                    display: flex;
                    align-items: center;
                    font-family: 'Open Sans';
                    li{
                        a{
                            color: white;
                            font-weight: 550px;
                        }
                        .fa-chevron-right{
                            display: none;
                        }
                        // .nav-home{
                        //     display: none;
                        // }
                    }
                    li:not(:last-child){
                        margin-right: 60px;
                    }
                }
            }
            &-icon{
                display: flex;
                align-items: center;
                color: white;
                padding-right: 10px;
                &-menu{
                    font-size: 30px;
                    display: none;
                }
            }
        }
    }
    .banner{
        width: 60%;
        margin: 0 auto;
        padding-top: 275px;
        &-text{
            color: white;
            font-family: 'Raleway';
            h1{
                font-size: 120px;
            }
            h3{
                font-size: 40px;
                font-weight: 600;
            }
        }
        &-play{
            margin-top: 65px;
            display: flex;
            align-items: center;
            img{
                cursor: pointer;
            }
            p{
                font-family: 'Open Sans';
                font-size: 18px;
                font-weight: 600;
                color: white;
                margin-left: 30px;
            }
        }
    }
    @include maxWidth(1300px){
        #header{
            height: 500px;
        }
        .banner{
            padding-top: 100px;
            &-text{
                h1{
                    font-size: 50px;
                }
                h3{
                    font-size: 30px;
                }
            }
            &-play{
                margin-top: 30px;
                img{
                    width: 35px;
                }
                p{
                    font-size: 20px;
                }
            }
        }
    }
    @include maxWidth(768px){
        .hide-links .navbar-links{
            display: none;
        }
        .nav-wrap{
            height: 100px;
            padding: 0 10px;
            .navbar{
                height: 100px;
                .navbar-icon{
                    &-search{
                        display: none;
                    }
                    &-menu{
                        display: inline-block;
                    }
                }
            }
        }
        .navbar-show{
            width: 100%;
            height: 100px;
            background-color: white;
            padding: 0 10px;
            position: relative;
            z-index: 10;
            // transition: 0.2s;
            .navbar{
                height: 100px;
                transition: 0.2s;
                .navbar-links-show{
                    height: 300px;
                    width: 100%;
                    background: white;
                    position: absolute;
                    top: 100px;
                    left: 0;
                    transition: 0.2s;
                    ul{
                        display: block;
                        padding-left: 15px;
                        li{
                            width: 150px;
                            a{
                                font-size: 20px;
                                font-weight: 600;
                                color: red;
                                
                                .fa-chevron-down{
                                    display: none;
                                }
                                .fa-chevron-right{
                                    display: inline;
                                    font-size: 12px;
                                    margin-left: 5px;
                                }
                            }
                            .link-home{
                                position: relative;
                                display: inline-block;
                                .nav-home{
                                    padding-top: 5px;
                                    width: 100px;
                                    height: 170px;
                                    position: absolute;
                                    background-color: #34568B;
                                    margin-left: 110px;
                                    top: 0;
                                    color: white;
                                    transition: 0.2s;
                                    div{
                                        padding-left: 10px;
                                    }
                                    div:not(:last-child){
                                        padding-bottom: 38px;
                                    }
                                }
                            }
                        }
                        li:hover>a{
                            transition: 0.2s;
                            color: blue;
                        }
                        li:not(:last-child){
                            padding-bottom: 40px;
                        } 
                    }
                }
                .navbar-logo{
                    .logo-white{
                        display: none;
                    }
                    .logo-blue{
                        display: inline-block;
                    }
                    p{
                        color: blue;
                    }
                }
                .navbar-links{
                    color: blue;
                }
                .navbar-icon{
                    &-search{
                        display: none;
                    }
                    &-menu{
                        display: inline-block;
                        color: blue;
                    }
                }
            }
        }
        .banner{
            padding-top: 50px;
            h1{
                font-size: 30px;
            }
            h3{
                font-size: 20px;
            }
            .banner-play{
                margin-top: 30px;
                img{
                    width: 30px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}
.fa-chevron-down{
    font-size: 10px;
    color: white;
    margin-left: 8px;
}
@include maxWidth(1300px){
    #header{
        height: 650px;
    }
}
@include maxWidth(768px){
    #header{
        height: 300px;
    }
}