@import "mixin";
@import "variables";
@import "header";
@import "section-1";
@import "section-2";
@import "section-3";
@import "section-4";
@import "section-5";
@import "section-6";
@import "section-7";
@import "footer";

// --------------- GENERAL----------------
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
section[id]{
    scroll-margin-top: 20px;
}
body{
    background-color: $dark-bg;
    overflow: overlay;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.align-w{
    width: 60%;
    margin: 0 auto;
}
.wrapper{
    background: url('../img/header-bg.png') no-repeat top/100%;
    // background-size: cover;
}
.span{
    color: $red-font;
    font-family: $primary-font;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}
.h3-title{
    margin-top: 40px;
    font-family: $secondary-font;
    color: white;
    font-size: 36px;
    line-height: 56px;
    font-weight: 800;
}
.p-desc{
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: $primary-font;
    color: $gray-font;
    font-size: 18px;
    line-height: 34px;
}
.btn.section-btn {
    background-image: linear-gradient(to right, #f85454, #f58523, #f58523,#f85454);
}
.btn{
    width: 230px;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border: none;
    background-size: 400% 100%;
    border-radius: 4px;
    moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn:hover {
    background-position: right center;
    moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}
    ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
.hide{
    display: none;
}
